body {
  background-color: #a6c9f5;
  /*font-family: sans-serif;*/
  font-family: 'Finger Paint', cursive;
  color: #330099;
  font-size: 1em;
}

#main {
  max-width: 1280px;
  margin: 0 auto;
}

#intro {
  margin: 0 auto;
  max-width: 60%; /* text too wide otherwise. */
  min-height: 400px; /*to use height of heading and dinosaur image before game board starts*/
}
h1 {
  font-size: 3em;
  text-align: center;
  font-family: 'Finger Paint', cursive;
}

p {
  font-size: 1em;
}

.welcome {
  float: right;
}

.rules {
  text-align: bottom;
}

/*#turn {
  max-width: 60%
  text-align: center;
}*/

#gameBoard {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
}

.row {
  max-width: 1280px;
  display: inline;
}

.card {
  width: 240px;
  height: 240px;
  padding: 5px;
  margin: 5px;
  border: 5px solid #330099;
  background-image: url(../images/cardback.png);
  background-color: white;
  border-radius: 10%;
  display: inline-block;
}

/*.button {
  text-align: center;
  display: inline-block;
}*/
